// TODO: Use absolute paths
@import '../../../variables';

.features {
  padding: 100px 0;

  .card {
    border: none;
    -webkit-box-shadow: 0px 8px 35px 0px rgba(67, 89, 102, 0.08);
    box-shadow: 0px 8px 35px 0px rgba(67, 89, 102, 0.08);
    border-radius: 7px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    box-shadow: none;
  }

  .card-title {
    font-size: 18px;
  }

  .card-body {
    line-height: 24px;
    padding: 0;
    color: #98a6ad;
  }

  svg {
    font-size: 36px;
    position: relative;
    color: $primary;
    &:after {
      content: '';
      position: absolute;
      top: -4px;
      left: 12px;
      width: 42px;
      height: 42px;
      margin: 0 auto;
      border-radius: 6px;
      z-index: -2;
      background: rgba(61, 98, 224, 0.1);
      transform: rotate(45deg);
      border-radius: 8px;
    }
  }
}

@media screen and (max-width: 767px) {
  .features {
    padding: 10px 0px;
  }
}

.features-title {
  margin-top: 0px;
  font-size: 26px;
}

.features-description {
  color: #767d8e;
  line-height: 24px;
  margin: 0px auto 50px auto;
  font-size: 15px;
}
