// TODO: Use absolute paths
@import '../../../variables';

.testi-img {
  height: 60px;
  width: 60px;
}

.testi-text {
  line-height: 30px;
  letter-spacing: 0.02em;
  font-size: 16px;
  font-style: italic;
}
