// TODO: Use absolute paths
@import '../../../variables';

.process {
  padding: 100px 0;

  .process-title {
    margin-top: 0px;
    font-size: 26px;
  }

  .process-description {
    color: #767d8e;
    line-height: 24px;
    margin: 0px auto 50px auto;
    font-size: 15px;
  }

  .card {
    border: none;
    padding: 0 70px 30px 0;
  }

  .card-title {
    font-size: 17px;
  }

  .card-body {
    padding: 0;
    color: $muted;
  }

  .number {
    right: 0;
    top: 0;
    height: 42px;
    width: 42px;
    line-height: 32px;
    color: #ffffff;
    background: #3d62e0;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    border: 5px solid rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .col-lg-6 {
    height: 100%;
    position: relative;
    text-align: right;
    padding: 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .process {
    padding: 10px 0px;
  }
}

@media screen and (min-width: 992px) {
  .col-lg-6:nth-child(even) {
    text-align: left;

    .card {
      padding: 0 0px 30px 70px;
    }
    .number {
      left: 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .process {
    .col-lg-6:nth-child(-n + 3) {
      text-align: right;

      .card {
        padding: 0 70px 30px 0;
      }
      .number {
        right: 0;
      }
    }

    .col-lg-6:nth-child(n + 4) {
      text-align: left;

      .card {
        padding: 0 0px 30px 70px;
      }
      .number {
        left: 0;
      }
    }
  }
}
